
@{
    ViewBag.Title = "AboutMe";
}

<section class="page-wrap full-width">
    <div class="container">

        <div class="page-header post-header normal">

            <h1 class="entry-title">About Me</h1>

        </div>

        <div class="no-sidebar col-md-12">
            <div class="page-content">
                <article id="page-62" class="post-62 page type-page status-publish has-post-thumbnail hentry">

                    <div class="entry-content">

                        <div class="wp-block-columns">
                            <div class="wp-block-column">
                                <h3> Hi, I’m Salman Kaplan </h3>



                                <p> One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.  He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.  </p>

                                <p>The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. &#8220;What&#8217;s happened to me?&#8221; he thought.</p>



                                <p>It wasn&#8217;t a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay</p>

                            </div>

                            <div class="wp-block-column">
                                <figure class="wp-block-image size-full"><img loading="lazy" width="585" height="754" src="~/Content/images/profil1.jpg" alt="" class="wp-image-377" sizes="(max-width: 585px) 100vw, 585px" /></figure>
                            </div>
                        </div>

                    </div>

                </article>
            </div>
        </div> <!-- end content -->
    </div>
</section>

