<div class="col-md-4">
    <aside id="sidebar" class="sidebar-outer">
        <div class="sidebar color">
            <aside id="destination_about_widget-2" class="widget destination_about_widget">
                <h5 class="widget-title">About Me</h5>
                <div class="about-widget">

                    <img src="~/Content/images/profil1.jpg" alt="About Me" />

                    <p>I love to travel because it gives you to freedom to be yourself and it makes you fall in love with your life. join the something new to taste.</p>
                </div>

            </aside>
            <aside id="destination_social_widget-2" class="widget destination_social_widget">
                <h5 class="widget-title">Subscribe &#038; Follow</h5>
                <div class="widget-social  ">
                    <ul>
                        <li><a href="http://facebook.com/" class="facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="http://twitter.com/" class="twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="http://pintrest.com/" class="pinterest" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="http://instagram.com/" class="instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>

            </aside>
        </div>
    </aside><!-- #primary-sidebar Ends -->
</div>

